  
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}


::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track-piece {
  background-color: #EEE;
  border-left: 1px solid #CCC
}


::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
  background-color: #BAC0C4
}


::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #717171
}

.content{
  padding: 30px 15px;
  min-height: calc(100vh - 123px);
}

.card{
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 14%);
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #333333;
  background: #fff;
  width: 100%;
}

.card-header{
  border-radius: 3px !important;
  margin-top: -20px;
  padding: 30px;
  box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(156 39 176 / 40%);
  background: linear-gradient( 60deg, #ab47bc, #8e24aa);
  margin: 0px 15px 0;
  margin-top: -20px;
}

.card-body{
  max-height: 500px;
  overflow-x: auto;
}

.card-title{
  color: #fff;
}

.btn-table{
  color: #fff !important;
  margin-left: 2px;
}

.edit{
  background-color: #9229ad !important;
  border-color: #932aad !important;
}
.edit:hover{
  background-color: #622173 !important;
  border-color: #622173 !important;
  color: #fff !important;
}


.btn-plus{
  right: 12px;
  bottom: 41px;
  position: fixed;
  width: 70px;
  height: 70px;
  border-radius: 50% !important;
  background-color: #9229ad !important;
  border-color: #932aad !important;
}

.btn-plus:hover{
  background-color: #622173 !important;
  border-color: #622173 !important;
}

.modal-header{
  background-color: #9229ad;
  color: #fff;
}

.modal-header .close{
  color:#fff;
}

.modal-header .close:hover{
  color:#fff;
}

.dropdown-toggle::after{
  display: none !important;
}

.button-header{
  background-color: #eee !important;
  border-color: #eee !important;
  color: #000 !important;
}

.button-header:hover{
  box-shadow: 2px 1px 7px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 1px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 7px 0px rgba(0,0,0,0.75);
}

.dropdown-toggle:focus{
  border: none !important;
  outline:  0 !important;
  box-shadow: none !important;
}

.dropdown-item:hover{
  background-color: #9229ad !important;
  box-shadow: 2px 1px 7px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 2px 1px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 1px 7px 0px rgba(0,0,0,0.75);
  color: #fff !important;
  border-radius: 2px;
}

.circle-alert{
  width: 18px;
  height: 18px;
  background: red;
  border-radius: 50%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #fff;
  position: absolute;
  top: 2px;
  left: 18px;
}

.circle-alert span{
  font-size: 13px;
}